@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}

.container {
  padding: 120px 104px;
  margin: 0 auto;
}
.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  width: 100%;
  display: flex;
  gap: 50px;
  text-align: center;
  align-items: flex-end;
  margin: 0 auto;
}
.col {
  width: 33%;
  height: 178px;
}
.advantages--row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.advantages--row__headphones{
  margin-bottom: 52px;
}

.advantages--row__forum{
margin-bottom: 56px;
}

.advantages--row__booking{
margin-bottom: 64px;
}

.advantages--row__like{
margin-bottom: 60px;
}

.advantages--row__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #383838;
}
.container h1 {
  position: relative;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
  margin-bottom: 104px;
}
.container h1::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 100px;
  height: 4px;
  top: 66px;
  background-color: #f5bd41;
  transform: translateX(-50%);
}
